body{
    margin:0;
    background-color: #ff2727;
    padding:0;
}
/* .bgImg{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.backBg{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
} */
.blurBg,.login{
    position: absolute;
    top:0;
    right:0;
    height: 100vh;
    width: 40vw;
    margin:0;
}
.blurBg{
    background-color: #323232;
    z-index:-1;
    filter: blur(2px);
}
.login{
    padding: 10rem;
}